<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youth Synergy Network Navigation</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html ">Home</a></li>
            <li><a href="about.html ">About Us</a></li>
            <li><a href="programs.html ">Programs</a></li>
            <li><a href="program-details.html ">Impacts</a></li>
            <li><a href="leadership.html ">Leadership</a></li>
            <li><a href="chapters.html ">University Chapters</a></li>
            <li><a href="events.html ">Events</a></li>
            <li><a href="resources.html ">Resources</a></li>
            <li><a href="media.html ">Media Center</a></li>
            <li><a href="blog.html ">Blog</a></li>
            <li><a href="contact.html ">Contact Us</a></li>
        </ul>
    </nav>
</body>

</html>